.inm-loading-full {
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0,0,0,.01);
    width: 100%;
    height: 100%;
    overflow: hidden;
    opacity: 0;
    z-index: 0;
    visibility: hidden;
    -webkit-transition: all .2s;
    transition: all .2s
}

.inm-loading-fullshow {
    z-index: 9900;
    opacity: 1;
    visibility: visible
}

.inm-loading-block {
    position: absolute;
    top: 50%;
    left: 50%;
    background: rgba(0,0,0,.7);
    width: 75px;
    height: 75px;
    margin-left: -37px;
    margin-top: -37px;
    overflow: hidden;
    border-radius: 8px;
    z-index: 1;
    padding: 20px;
    text-align: center;
    -webkit-transition: all .1s;
    transition: all .1s
}

.inm-loading-text {
    display: none;
    color: #fff;
    width: 100%;
    line-height: 15px;
    margin-top: 16px;
    text-align: center;
    font-size: 14px
}

.inm-loading-blocktext {
    width: 110px;
    height: 110px;
    margin-left: -55px;
    margin-top: -55px;
    padding: 21px 0
}

.inm-loading-blocktext .inm-loading-text {
    display: block
}

.inm-loading-line {
    width: 100%;
    padding: 12px 0;
    height: 44px;
    position: relative;
    overflow: hidden;
    text-align: center
}

.inm-loading-end {
    width: 100%;
    line-height: .5rem;
    text-align: center;
    font-size: .12rem;
    color: #999
}

.inm-loading-box {
    width: 20px;
    height: 20px;
    display: inline-block;
    text-align: center
}

.inm-loading-font {
    line-height: 20px;
    display: inline-block;
    font-size: 14px;
    color: #999;
    padding-left: 10px;
    vertical-align: top
}

.inm-loading-round {
    display: inline-block;
    width: 35px;
    height: 35px;
    -webkit-animation: inm-loading-round 1s linear infinite;
    animation: inm-loading-round 1s linear infinite
}

.inm-loading-rounds {
    width: 20px;
    height: 20px;
    vertical-align: top
}

.inm-loading-rotate {
    width: 35px;
    height: 35px;
    -webkit-animation: inm-loading-round 2s linear infinite;
    animation: inm-loading-round 2s linear infinite
}

.inm-loading-rotate svg {
    vertical-align: top
}

.inm-loading-rotates {
    width: 20px;
    height: 20px
}

.inm-loading-ball {
    stroke-dasharray: 101;
    stroke-dashoffset: 101;
    -webkit-animation: inm-loading-ball 2s linear infinite;
    animation: inm-loading-ball 2s linear infinite
}

.inm-loading-balls {
    stroke-dasharray: 56;
    stroke-dashoffset: 56;
    -webkit-animation: inm-loading-balls 2s linear infinite;
    animation: inm-loading-balls 2s linear infinite
}

.inm-loading-center {
    width: 100%;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 0;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%)
}

.inm-loading-succeed {
    width: .6rem;
    height: .6rem;
    border-radius: 100%;
    display: inline-block;
    background: #00c973;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,0) scale(.5,.5);
    transform: translate(-50%,0) scale(.5,.5);
    opacity: 0;
    -webkit-animation: inm-loading-succeed .4s linear forwards;
    animation: inm-loading-succeed .4s linear forwards
}

.inm-loading-succeed:after {
    position: absolute;
    top: 50%;
    left: 50%;
    width: .13rem;
    height: .05rem;
    margin-top: .02rem;
    margin-left: -.17rem;
    background: #fff;
    border-radius: .1rem 0 0 .1rem;
    -webkit-transform: rotateZ(45deg);
    content: ""
}

.inm-loading-succeed:before {
    position: absolute;
    top: 50%;
    left: 50%;
    width: .3rem;
    height: .05rem;
    margin-top: -.02rem;
    margin-left: -.1rem;
    background: #fff;
    border-radius: 0 .1rem .1rem .1rem;
    -webkit-transform: rotateZ(-45deg);
    content: ""
}

.inm-loading-am {
    -webkit-transition: height .2s;
    transition: height .2s
}

.inm-loading-refresh {
    width: 100%;
    height: 44px;
    position: relative;
    overflow: hidden
}

.inm-loading-refresh-box {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 44px;
    padding: 12px;
    text-align: center
}

.inm-loading-refresh-text {
    line-height: 20px;
    display: inline-block;
    font-size: 14px;
    color: #999;
    text-indent: 5px;
    vertical-align: top;
    margin-left: 10px
}

.inm-loading-refresh-line {
    position: absolute;
    left: 0;
    top: 0
}

.inm-loading-down {
    display: inline-block;
    width: 20px;
    height: 20px;
    vertical-align: top;
    position: relative
}

.inm-loading-down-bg {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 16px;
    height: 16px;
    border-radius: 100%;
    background: #f2f2f2;
    display: block;
    margin: 2px
}

.inm-loading-down-svg {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg)
}

.inm-loading-down-svg svg {
    float: left
}

.inm-loading-down-cr {
    stroke-dasharray: 56;
    stroke-dashoffset: 56
}

@-webkit-keyframes inm-loading-round {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0)
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

@keyframes inm-loading-round {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0)
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

@keyframes inm-loading-ball {
    0% {
        stroke-dashoffset: 101
    }

    50% {
        stroke-dashoffset: 0
    }

    100% {
        stroke-dashoffset: 101
    }
}

@-webkit-keyframes inm-loading-ball {
    0% {
        stroke-dashoffset: 101
    }

    50% {
        stroke-dashoffset: 0
    }

    100% {
        stroke-dashoffset: 101
    }
}

@keyframes inm-loading-balls {
    0% {
        stroke-dashoffset: 56
    }

    50% {
        stroke-dashoffset: 0
    }

    100% {
        stroke-dashoffset: 56
    }
}

@-webkit-keyframes inm-loading-balls {
    0% {
        stroke-dashoffset: 56
    }

    50% {
        stroke-dashoffset: 0
    }

    100% {
        stroke-dashoffset: 56
    }
}

@-webkit-keyframes inm-loading-succeed {
    0% {
        -webkit-transform: translate(-50%,0) scale(.5,.5);
        transform: translate(-50%,0) scale(.5,.5);
        opacity: 0
    }

    100% {
        -webkit-transform: translate(-50%,-50%) scale(1,1);
        transform: translate(-50%,-50%) scale(1,1);
        opacity: 1
    }
}

@keyframes inm-loading-succeed {
    0% {
        -webkit-transform: translate(-50%,0) scale(.5,.5);
        transform: translate(-50%,0) scale(.5,.5);
        opacity: 0
    }

    100% {
        -webkit-transform: translate(-50%,-50%) scale(1,1);
        transform: translate(-50%,-50%) scale(1,1);
        opacity: 1
    }
}